.Boat {
    align-items: center;
    vertical-align: middle;
    display:'table-cell';
    width:'100px';
    margin:'auto';
  }
  
  img {
    width: 50px;
    height: 50px;
    margin-right: 8px;
  }
  
  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .type {
    margin-left: 8px;
    font-style: italic;
    opacity: 0.7;
  }
  .cls-1 {
    fill: #C8102E;
    stroke: #ce0e2d;
    stroke-linecap: round;
    stroke-linejoin: round;
  }