.leaflet-control-attribution{
  display: none;
}
.recharts-legend-wrapper{
position: relative !important;
margin-top: 2em;
left: 20px !important;
}
.recharts-default-legend {
margin-left: 2em;
text-align: start !important;
display: grid;
}



#portal .container {
  position: fixed;
  max-width: 100% !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.container .modal {
  z-index: 1;
  max-width: 100% !important;
  height: 20%;
  width: 20%;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}
.modal button {
  position: absolute;
  top: 7px;
  right: 7px;
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}